* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
  #root {
    display: flex;
    flex-direction: row;
  }
}
